<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); -%>
    <title>
      
      <%= process.env.APP_NAME %> - <%= title %>
      
    </title>
    <%- include('partials/include_styles'); -%>
</head>

<body>

    <%- include('partials/nav'); -%>
    
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Country, State and City Free API</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam, nemo suscipit nesciunt labore est sunt. Placeat distinctio omnis minus voluptatibus cumque amet doloribus ad laborum, illum, at iure impedit.
            </p>
            <a href="#" class="btn btn-default">Get Access Token</a>
        </div>
      </div>

      
      
    </div>
    
    
    
    
    
    
    
    
    
    <%- include('partials/include_js'); -%>
    

</body>

</html>