<!DOCTYPE html>
<html>

<head>
    <%- include('partials/meta'); -%>
    <title>

        <%= process.env.APP_NAME %> -
        <%= title %>

    </title>
    <%- include('partials/include_styles'); -%>
</head>

<body>

    <%- include('partials/nav'); -%>

    <div class="container">



        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">

                <h4>Login to get your access token.</h4>

                <p>
                    Access token will be sent to your registered email.
                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login Here</h3>
                    </div>
                    <div class="panel-body">

                        
                        
                       
                        
                        

                        <%- include('partials/notifications'); -%>
                        <form action="/get-access-token" method="POST" role="form">
                        
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email" value="<%= oldFormData && typeof oldFormData.email !== 'undefined' ? oldFormData.email : '' %>">
                            </div>

                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div>
                        
                            
                        
                            <button type="submit" class="btn btn-primary">
                                Get Access Token
                            </button>
                            <a class="btn btn-default" href="/register">Register Here</a>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>


    </div>









    <%- include('partials/include_js'); -%>


</body>

</html>